body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: #fff; /* Color blanco para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra negra para mejorar la legibilidad del texto */
    overflow: hidden; /* Evita barras de desplazamiento */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que el video cubra toda la pantalla */
    z-index: -1; /* Envía el video al fondo */
}

.container {
    text-align: center;
    z-index: 1; /* Asegura que el contenido esté sobre el video */
}

.datetime {
    font-size: 3em; /* Tamaño de fuente grande para la fecha y hora */
    color: #525252; /* Color de texto */
}
